/* #################### 공용으로 사용 */

html{
    font-family: 'Jua', sans-serif;
}

/* html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
} */

#bg{ /* 백그라운드  */
    width: 100%;
    height: 100vh;
    background-color: #292c35;
    background-image: url("img/bg.png");
}

#content{ /* 내용 */
    padding: 0px;
    width: 65%;
    height: 65vh;
    background-color: #3a4151;
    border-radius: 20px;
    box-shadow: 0px 0px 40px black;
    overflow: hidden;
}

#content_top{ /* 내용 위에 색깔 입히기 */
    width: 120%;
    height: 50%;
    background-color: #5bdaa5;
    box-shadow: 0px 0px 30px black;
    transform: rotate(-2deg) translateX(-10%) translateY(-50%);
    display: inline-block;
    position: absolute;
    left:0;
    right:0;
}

/* 색깔 칠해져있는 곳 */
.top_div{
    color: white;
    z-index: 5;
}

.title{ /* 로고 */
    padding-top: 10px;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 35px;
    position: relative;
    transform: scale(1.5);
}

.title_sub{ /* 소제목 */
    padding-left: 30px;
    margin-top: 10px;
    font-size: 23px;
    position: relative;
}

/* 색깔 칠해져 있는 않은 곳 */
.main_div{ /* 내용 */
    margin-top: 8%;
    color: white;
    padding-left: 7%;
    width: 86%;
    height: 200px;
}

/* #################### PostMessage에서 사용됨 */

li{
    display: inline;
}

.main_div_title{
    color: white;
    font-size: 20px;
}

.other_message{
    color: white;
    font-size: 35px;
}

.cheerup_textarea{
    width: 96%;
    height: 100px;
    padding: 2%;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
}

.submit_btn{
    font-size: 17px;
    background-color: #5bdaa5;
}


/* #################### ChoiceRoom에서 사용됨 */

.room{
    border-radius: 10px;
}

.room h3{
    font-family: 'Jua', sans-serif;
}

