html{
    background-color:#292c35;
    
}

.CenterContent{
    
    width:300px;
    height:800px;
   
}
hr { 
 position:relative;
 height:.20em; 
 border:0;
 overflow:hidden;
}
hr:before {
 content:"";
 display:block;
 position:absolute;
 top:0;
 left:0;
 height:.25em;
 width:5em;
 background:red;
 box-shadow:
  5em 0 0 0 orange,
  10em 0 0 0 yellow,
  15em 0 0 0 green,
 20em 0 0 0 blue,
 25em 0 0 0 indigo,
  30em 0 0 0 violet;
}